/* PHASE 2: Notifications */
.notifications {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: white;
 
}
.dropdown li{
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
}

.dropdown li:hover{
  background-color: lightslategray;
  cursor: pointer;
}
.notifications:hover .dropdown {
  display: block;
}