
<section class="page">
  <h1>Log in</h1>

  <%#=render "shared/errors"%>
  <form action="<%=session_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label>username
      <input type="text" name="user[username]">
    </label>

    <label>password
      <input type="text" name="user[password]">
    </label>

    <input type="submit" value="Log in">
  </form>
</section>